extends layout
block content
  p Find Books
  if books.length
    each book in books
      .book
        .soldBy 
          a(href='mailto:#{book.email}') #{book.seller}
          | &nbsp;has these books for you 
        .isbn #{book.isbn}
  else
    p We couldn't find any books right now. Here are some online purchasing options.
