extends layout
block content
  .text-center
    h1 Welcome to Book Swap!
    br
    h4 Tired of paying too much at the bookstore, only to get pennies back when you sell your books back?
    h4 Always forget to buy books until the last minute so you can't order them online?
    p Try Book Swap, a better way to buy and sell your textbooks.
    p Book Swap helps you find other students on campus who need your used books! The best part? You get to set the prices, not the book store.
