extends layout
block content
  h3 Join Book Swap
  br
  form.col-sm-12.col-md-6(action='/join', method='post', onsubmit='return validateForm();')
    input(type='hidden', name='_csrf', value=csrfToken)
    input.form-control(type='name', name='name', id='name', placeholder='Name')
    br
    input.form-control(type='email', name='email', id='email', placeholder='College/University Email')
    br
    input.form-control(type='password', name='password', id='password', placeholder='Password')
    br
    input.form-control(type='password', name='password2', id='password2', placeholder='Confirm Password')
    br
    button.btn.btn-primary.form-control(type='submit', name='submit') Join
  script(type='text/javascript').
    function validateForm() {
      if (!document.getElementById('name').value) {
        showError('Please enter your name');
        return false;
      }
      var email = document.getElementById('email').value;
      if (!email || email.length <= 4 || email.indexOf('@') === -1 || email.indexOf(".edu", email.length - 4) === -1) {
        showError('Please enter a valid university email');
        return false;
      }
      var password = document.getElementById('password').value;
      var password2 = document.getElementById('password2').value;
      if (!password || !password2 || password.length < 8 || password !== password2) {
        showError('Please make sure your passwords match and are at least 8 characters');
        return false;
      }
      return true;
    }
    function showError(message) {
      document.getElementById('error').innerHTML = message;
    }
