doctype html 5
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='title', content='Bookswap')
    meta(name='description', content='A site for trading textbooks')  
    meta(name='keywords', content='book, books, textbook, textbooks, college, university, trade, swap, bookswap, swapbook, swapbooks, cheap')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet")
  body
    ul.nav
      li
        a(href='/') home
      if user
        li
          a(href='/mybooks') my books
        li
          a(href='/findbooks') find books
        li
          a(href='/logout') logout
      else
        li
          a(href='/join') join
        li
          a(href='/login') login
    #error.error #{error}
    .container
      block content
  script(src="//code.jquery.com/jquery-2.1.0.min.js")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
