doctype html 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='title', content='Bookswap')
    meta(name='description', content='A site for trading textbooks')  
    meta(name='keywords', content='book, books, textbook, textbooks, college, university, trade, swap, bookswap, swapbook, swapbooks, cheap')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    #error.error #{error}
    block content
