extends layout
block content
  form(action='/login', method='post')
    input(type='hidden', name='_csrf', value=csrfToken)
    input(type='hidden', name='destination', value=destination)
    label(for='email') Email
    input(type='email', name='email')
    br
    label(for='password') Password
    input(type='password', name='password')
    br
    input(type='submit', name='submit', value='Login')
