extends layout
block content
  form(action='/login', method='post', role='form')
    input(type='hidden', name='_csrf', value=csrfToken)
    input(type='hidden', name='destination', value=destination)
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-10
          input.form-control(type='email', name='email')
    br
    .form-group
      label.col-sm-2.control-label(for='password') Password
      .col-sm-10
          input.form-control(type='password', name='password')
    br
    button.btn.btn-default(type='submit', name='submit') Login
