extends layout
block content
  .col-sm-12.col-md-6
    h3 Reset Your Password
    if resetToken
      br
      form(action='/passwordreset', method='post', role='form')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='hidden', name='action', value='resetPassword')
        input(type='hidden', name='resetToken', value='#{resetToken}')
        input.form-control(type='password', name='password', placeholder='Password')
        br
        input.form-control(type='password', name='password2', placeholder='Retype Password')
        br
        button.btn.btn-primary.form-control(type='submit', name='submit') Reset My Password
    else
      br
      form(action='/passwordreset', method='post', role='form')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='hidden', name='action', value='sendEmail')
        input.form-control(type='email', name='email', placeholder='Email')
        br
        button.btn.btn-primary.form-control(type='submit', name='submit') Reset My Password
