extends layout
block content
  script.
    function confirmSubmit() {
      var p1 = $('#password1').val();
      var p2 = $('#password2').val();
      if (p1 === p2) {
        return true;
      } else {
        alert('Your passwords don\'t match!');
        return false;
      }
    }
  .col-sm-12.col-md-6
    h3 Reset Your Password
    if resetToken
      br
      form(action='/passwordreset', method='post', role='form', onsubmit="return confirmSubmit();")
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='hidden', name='action', value='resetPassword')
        input(type='hidden', name='resetToken', value='#{resetToken}')
        input.form-control(id='password1', type='password', name='password', placeholder='New Password')
        br
        input.form-control(id='password2', type='password', name='password2', placeholder='Retype New Password')
        br
        button.btn.btn-primary.form-control(type='submit', name='submit') Reset My Password
    else
      br
      form(action='/passwordreset', method='post', role='form')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='hidden', name='action', value='sendEmail')
        input.form-control(type='email', name='email', placeholder='Email')
        br
        button.btn.btn-primary.form-control(type='submit', name='submit') Send Reset Email
